* {
    /* BRAND PALETTE AND SUPPLEMENTS */

    theme-black: #000000;
    theme-gray-25: #252525;
        theme-gray-25-hover: derive(theme-gray-25,10%);
        theme-gray-25-pressed: derive(theme-gray-25,-10%);

    theme-gray-55: #555555;
    theme-gray-77: #777777;
    theme-gray-97: #979797;
    theme-gray-BB: #BBBBBB;
        theme-gray-BB-hover: derive(theme-gray-BB,10%);
        theme-gray-BB-pressed: derive(theme-gray-BB,-10%);

    theme-gray-F3: #F3F3F3;
        theme-gray-F3-hover: derive(theme-gray-F3,-5%);
        theme-gray-F3-pressed: derive(theme-gray-F3,-10%);


    theme-white: #FFFFFF;
        theme-white-hover: derive(theme-white,-5%);
        theme-white-pressed: derive(theme-white,-10%);


    theme-red-B7: #BB0000;
        theme-red-B7-hover: derive(theme-red-B7,10%);
        theme-red-B7-pressed: derive(theme-red-B7,-10%);

    theme-red-FF: #FFBBBB;
        theme-red-FF-hover: derive(theme-red-FF,10%);

    theme-orange-FF: #FFBB00;
    theme-orange-F3: #FFBB33;
    theme-yellow: #DFFF00;

    theme-green: #006600;

    theme-blue: #0066CC;
    theme-dark-blue: #003366;
    theme-digital-blue: #00bbff;

    theme-transparent: transparent;
        theme-transparent-hover: rgba(242, 242, 242, 0.3);
        theme-transparent-pressed: rgba(0, 0, 0, 0.2);
    theme-gray-25-transparent: rgba(19,19,19,0.5);
    theme-gray-97-transparent: rgba(151,151,151,0.65);
    theme-white-transparent: rgba(255,255,255,0.65);

    theme-debug: #ff00ff;

    /*************************************************************************************************
     *  General colors
     *************************************************************************************************/
    theme-background-color: theme-white;
    theme-statusbar-background-color: theme-gray-F3;
    theme-statusbar-background-hover-color: theme-gray-F3-hover;
    theme-statusbar-background-pressed-color: theme-gray-F3-pressed;

    theme-separator-color: theme-gray-BB;

    theme-sidepane-icon-background-hover-color: theme-white-hover;
    theme-sidepane-icon-background-pressed-color: theme-white-pressed;

    theme-section-header-background-color: theme-gray-BB;

    theme-border-focused-color: theme-digital-blue;

    theme-warning-color: theme-red-B7;
    theme-warning-inverse-color: theme-red-FF;

    theme-pane-shadow-color: theme-gray-25-transparent;



    /*************************************************************************************************
     *  Labels
     *************************************************************************************************/
    theme-caption-label-text-color: theme-gray-25;
    theme-success-confirmation-label-color: theme-green;


    theme-label-text-color: theme-gray-25;
    theme-label-text-disabled-color: theme-gray-77;
    theme-label-inverse-text-color: theme-white;
    theme-hint-label-text-color: theme-gray-55;


    /*************************************************************************************************
     *  Buttons
     *************************************************************************************************/
    theme-button-background-color: theme-transparent;
    theme-button-background-hover-color: theme-white-hover;
    theme-button-background-pressed-color: theme-white-pressed;
    theme-button-background-disabled-color: theme-gray-F3;
    theme-button-background-focused-color: theme-transparent;
    theme-button-border-color: theme-transparent;
    theme-button-border-hover-color: theme-transparent;
    theme-button-border-pressed-color: theme-transparent-pressed;
    theme-button-border-disabled-color: theme-gray-BB;
    theme-button-border-focused-color: theme-border-focused-color;
    theme-button-text-color: theme-gray-25;
    theme-button-text-hover-color: theme-gray-25-hover;
    theme-button-text-pressed-color: theme-gray-25-pressed;
    theme-button-text-disabled-color: theme-label-text-disabled-color;
    theme-button-text-focused-color: theme-gray-25;

    /*Re-use primary button colors for the progress button*/
    theme-primary-button-background-color: theme-blue;
    theme-primary-button-background-hover-color: theme-digital-blue;
    theme-primary-button-background-pressed-color: theme-dark-blue;
    theme-primary-button-background-disabled-color: theme-gray-BB;
    theme-primary-button-background-focused-color: theme-blue;
    theme-primary-button-border-color: theme-blue;
    theme-primary-button-border-hover-color: theme-digital-blue;
    theme-primary-button-border-pressed-color: theme-dark-blue;
    theme-primary-button-border-disabled-color: theme-gray-BB;
    theme-primary-button-border-focused-color: theme-digital-blue;
    theme-primary-button-text-color: theme-white;
    theme-primary-button-text-hover-color: theme-white;
    theme-primary-button-text-pressed-color: theme-gray-F3;
    theme-primary-button-text-disabled-color: theme-gray-F3;
    theme-primary-button-text-focused-color: theme-white;

    /*Re-use emergency button colors for the progress button*/
    theme-emergency-button-background-color: theme-red-B7;
    theme-emergency-button-background-hover-color: theme-red-B7-hover;
    theme-emergency-button-background-pressed-color: theme-red-B7-pressed;
    theme-emergency-button-background-disabled-color: theme-gray-BB;
    theme-emergency-button-background-focused-color: theme-red-FF-hover;

    /*Primary split button reuses most of the styles from primary button*/
    theme-primary-split-button-arrow-color: theme-white;
    theme-primary-split-button-arrow-hover-color: theme-white;
    theme-primary-split-button-arrow-pressed-color: theme-gray-F3;
    theme-primary-split-button-arrow-disabled-color: theme-gray-F3;
    theme-primary-split-button-arrow-focused-color: theme-white;
    theme-primary-split-button-inner-border-color: theme-white;

    theme-secondary-button-background-color: theme-gray-F3;
    theme-secondary-button-background-hover-color: theme-gray-F3-hover;
    theme-secondary-button-background-pressed-color: theme-gray-F3-pressed;
    theme-secondary-button-background-disabled-color: theme-gray-F3;
    theme-secondary-button-background-focused-color: theme-gray-F3;
    theme-secondary-button-border-color: theme-blue;
    theme-secondary-button-border-hover-color: theme-digital-blue;
    theme-secondary-button-border-pressed-color: theme-dark-blue;
    theme-secondary-button-border-disabled-color: theme-gray-BB;
    theme-secondary-button-border-focused-color: theme-digital-blue;
    theme-secondary-button-text-color: theme-blue;
    theme-secondary-button-text-hover-color: theme-digital-blue;
    theme-secondary-button-text-pressed-color: theme-dark-blue;
    theme-secondary-button-text-disabled-color: theme-label-text-disabled-color;
    theme-secondary-button-text-focused-color: theme-blue;

    theme-cautionary-button-background-color: theme-red-B7;
    theme-cautionary-button-background-hover-color: theme-red-B7-hover;
    theme-cautionary-button-background-pressed-color: theme-red-B7-pressed;
    theme-cautionary-button-background-disabled-color: theme-gray-BB;
    theme-cautionary-button-background-focused-color: theme-red-B7;
    theme-cautionary-button-border-color: theme-red-B7;
    theme-cautionary-button-border-hover-color: theme-red-B7-hover;
    theme-cautionary-button-border-pressed-color: theme-red-B7-pressed;
    theme-cautionary-button-border-disabled-color: theme-gray-BB;
    theme-cautionary-button-border-focused-color: theme-red-B7-hover;
    theme-cautionary-button-text-color: theme-white;
    theme-cautionary-button-text-hover-color: theme-white;
    theme-cautionary-button-text-pressed-color: theme-gray-F3;
    theme-cautionary-button-text-disabled-color: theme-gray-F3;
    theme-cautionary-button-text-focused-color: theme-white;

    /*Secondary split button reuses most of the styles from secondary button*/
    theme-secondary-split-button-arrow-color: theme-blue;
    theme-secondary-split-button-arrow-hover-color: theme-digital-blue;
    theme-secondary-split-button-arrow-pressed-color: theme-dark-blue;
    theme-secondary-split-button-arrow-disabled-color: theme-gray-BB;
    theme-secondary-split-button-arrow-focused-color: theme-blue;
    theme-secondary-split-button-split-line-focused-color: theme-blue;

    theme-transparent-icon-button-background-color: transparent;
    theme-transparent-icon-button-background-hover-color: theme-transparent-hover;
    theme-transparent-icon-button-background-pressed-color: theme-transparent-pressed;

    theme-combobox-background-color: theme-white;
    theme-combobox-background-focused-color: theme-white;
    theme-combobox-background-disabled-color: theme-gray-F3;
    theme-combobox-border-color: theme-gray-55;
    theme-combobox-border-hover-color: theme-digital-blue;
    theme-combobox-border-pressed-color: theme-dark-blue;
    theme-combobox-border-focused-color: theme-digital-blue;
    theme-combobox-border-disabled-color: theme-gray-BB;
    theme-combobox-text-color: theme-gray-25;
    theme-combobox-text-hover-color: theme-gray-25;
    theme-combobox-text-pressed-color: theme-gray-25;
    theme-combobox-text-focused-color: theme-gray-25;
    theme-combobox-text-disabled-color: theme-gray-77;
    theme-combobox-popup-cell-background-color: theme-white;
    theme-combobox-popup-cell-background-hover-color: theme-white-hover;
    theme-combobox-popup-cell-background-selected-color: theme-blue;
    theme-combobox-popup-cell-background-disabled-color: theme-white;
    theme-combobox-popup-cell-text-color: theme-gray-25;
    theme-combobox-popup-cell-text-hover-color: theme-black;
    theme-combobox-popup-cell-text-selected-color: theme-white;
    theme-combobox-popup-cell-text-disabled-color: theme-gray-BB;

    /* Icon and image combobox re-use combobox styles where applicable */
    theme-image-combobox-popup-cell-title-text-color: theme-gray-55;

    theme-checkbox-background-color: theme-white;
    theme-checkbox-background-hover-color: theme-white-hover;
    theme-checkbox-background-pressed-color: theme-white;
    theme-checkbox-background-disabled-color: theme-white;
    theme-checkbox-background-focused-color: theme-white;
    theme-checkbox-background-selected-color: theme-white;
    theme-checkbox-background-selected-hover-color: theme-white-hover;
    theme-checkbox-background-selected-pressed-color: theme-white;
    theme-checkbox-background-selected-disabled-color: theme-white;
    theme-checkbox-background-selected-focused-color: theme-white;
    theme-checkbox-border-color: theme-gray-55;
    theme-checkbox-border-hover-color: theme-digital-blue;
    theme-checkbox-border-pressed-color: theme-dark-blue;
    theme-checkbox-border-disabled-color: theme-gray-BB;
    theme-checkbox-border-focused-color: theme-gray-55;
    theme-checkbox-border-selected-color: theme-gray-55;
    theme-checkbox-border-selected-hover-color: theme-gray-55;
    theme-checkbox-border-selected-pressed-color: theme-gray-BB;
    theme-checkbox-border-selected-disabled-color: theme-gray-BB;
    theme-checkbox-border-selected-focused-color: theme-gray-55;

    theme-checkbox-text-color: theme-label-text-color;
    theme-checkbox-text-hover-color: theme-gray-55;
    theme-checkbox-text-pressed-color: theme-dark-blue;
    theme-checkbox-text-disabled-color: theme-label-text-disabled-color;
    theme-checkbox-text-focused-color: theme-gray-25;

    theme-checkbox-mark-color: theme-blue;
    theme-checkbox-mark-hover-color: theme-digital-blue;
    theme-checkbox-mark-pressed-color: theme-dark-blue;
    theme-checkbox-mark-disabled-color: theme-label-text-disabled-color;
    theme-checkbox-mark-focused-color: theme-blue;

    theme-toggle-background-on-color: theme-blue;
    theme-toggle-background-off-color: theme-white;
    theme-toggle-background-hover-on-color: theme-digital-blue;
    theme-toggle-background-hover-off-color: theme-white;
    theme-toggle-background-pressed-on-color: theme-dark-blue;
    theme-toggle-background-pressed-off-color: theme-white;
    theme-toggle-background-disabled-on-color: theme-gray-BB;
    theme-toggle-background-disabled-off-color: theme-white;
    theme-toggle-background-focused-on-color: theme-blue;
    theme-toggle-background-focused-off-color: theme-white;

    theme-toggle-border-on-color: theme-blue;
    theme-toggle-border-off-color: theme-gray-55;
    theme-toggle-border-hover-on-color: theme-digital-blue;
    theme-toggle-border-hover-off-color: theme-digital-blue;
    theme-toggle-border-pressed-on-color: theme-dark-blue;
    theme-toggle-border-pressed-off-color: theme-dark-blue;
    theme-toggle-border-disabled-on-color: theme-gray-BB;
    theme-toggle-border-disabled-off-color: theme-gray-BB;
    theme-toggle-border-focused-on-color: theme-blue;
    theme-toggle-border-focused-off-color: theme-gray-55;

    theme-toggle-thumb-background-on-color: theme-white;
    theme-toggle-thumb-background-off-color: theme-gray-55;
    theme-toggle-thumb-background-hover-on-color: theme-white;
    theme-toggle-thumb-background-hover-off-color: theme-gray-77;
    theme-toggle-thumb-background-pressed-on-color: theme-white;
    theme-toggle-thumb-background-pressed-off-color: theme-gray-25;
    theme-toggle-thumb-background-disabled-on-color: theme-white;
    theme-toggle-thumb-background-disabled-off-color: theme-gray-BB;
    theme-toggle-thumb-background-focused-on-color: theme-white;
    theme-toggle-thumb-background-focused-off-color: theme-gray-55;

    theme-toggle-text-color: theme-gray-25;
    theme-toggle-text-hover-color: theme-gray-55;
    theme-toggle-text-pressed-color: theme-dark-blue;
    theme-toggle-text-focused-color: theme-gray-25;
    theme-toggle-text-disabled-color: theme-label-text-disabled-color;

    theme-hyperlink-text-color: theme-blue;
    theme-hyperlink-text-hover-color: theme-digital-blue;
    theme-hyperlink-text-pressed-color: theme-dark-blue;
    theme-hyperlink-text-disabled-color: theme-label-text-disabled-color;
    theme-hyperlink-text-focused-color: theme-blue;

    theme-radio-button-radio-background-on-color: theme-blue;
    theme-radio-button-radio-background-off-color: theme-white;
    theme-radio-button-radio-background-hover-on-color: theme-digital-blue;
    theme-radio-button-radio-background-hover-off-color: theme-white;
    theme-radio-button-radio-background-pressed-on-color: theme-dark-blue;
    theme-radio-button-radio-background-pressed-off-color: theme-white;
    theme-radio-button-radio-background-disabled-on-color: theme-gray-BB;
    theme-radio-button-radio-background-disabled-off-color: theme-white;
    theme-radio-button-radio-background-focused-on-color: theme-blue;
    theme-radio-button-radio-background-focused-off-color: theme-white;
    theme-radio-button-radio-border-on-color: theme-transparent;
    theme-radio-button-radio-border-off-color: theme-gray-55;
    theme-radio-button-radio-border-hover-off-color: theme-digital-blue;
    theme-radio-button-radio-border-pressed-off-color: theme-dark-blue;
    theme-radio-button-radio-border-disabled-off-color: theme-gray-BB;
    theme-radio-button-radio-border-focused-on-color: theme-blue;
    theme-radio-button-radio-border-focused-off-color: theme-gray-55;
    theme-radio-button-dot-background-on-color: theme-white;
    theme-radio-button-dot-background-off-color: theme-transparent;
    theme-radio-button-dot-background-hover-on-color: theme-white;
    theme-radio-button-dot-background-hover-off-color: theme-transparent;
    theme-radio-button-dot-background-pressed-on-color: theme-white;
    theme-radio-button-dot-background-pressed-off-color: theme-transparent;
    theme-radio-button-dot-background-disabled-on-color: theme-white;
    theme-radio-button-dot-background-disabled-off-color: theme-transparent;
    theme-radio-button-dot-background-focused-on-color: theme-white;
    theme-radio-button-dot-background-focused-off-color: theme-transparent;

    theme-radio-button-text-color: theme-label-text-color;
    theme-radio-button-text-hover-color: theme-gray-55;
    theme-radio-button-text-pressed-color: theme-dark-blue;
    theme-radio-button-text-disabled-color: theme-label-text-disabled-color;
    theme-radio-button-text-focused-color: theme-gray-25;

    /*************************************************************************************************
     *  Inputs: Textfield, Spinner, Search
     *  Search - reuses text field and menu item styles where applicable
     *************************************************************************************************/
    theme-textfield-background-color: theme-white;
    theme-textfield-background-focused-color: theme-white;
    theme-textfield-background-disabled-color: theme-gray-F3;
    theme-textfield-border-color: theme-gray-55;
    theme-textfield-border-hover-color: theme-digital-blue;
    theme-textfield-border-pressed-color: theme-digital-blue;
    theme-textfield-border-disabled-color: theme-gray-BB;
    theme-textfield-border-focused-color: theme-digital-blue;
    theme-textfield-text-color: theme-gray-25;
    theme-textfield-text-disabled-color: theme-gray-BB;

    theme-spinner-text-color: theme-gray-25;
    theme-spinner-text-disabled-color: theme-gray-BB;
    theme-spinner-background-color: theme-white;
    theme-spinner-background-disabled-color: theme-gray-F3;
    theme-spinner-background-focused-color: theme-white;
    theme-spinner-border-color: theme-gray-55;
    theme-spinner-border-hover-color: theme-digital-blue;
    theme-spinner-border-focused-color: theme-digital-blue;
    theme-spinner-border-pressed-color: theme-digital-blue;
    theme-spinner-border-disabled-color: theme-gray-BB;
    theme-spinner-button-background-color: theme-gray-F3;
    theme-spinner-button-background-hover-color: theme-gray-F3-hover;
    theme-spinner-button-background-pressed-color: theme-gray-F3-pressed;
    theme-spinner-button-background-disabled-color: theme-gray-F3;
    theme-spinner-button-background-focused-color: theme-gray-F3;

    theme-search-field-assistive-text-color: theme-gray-BB;
    theme-search-result-background-color: theme-white;
    theme-search-result-background-hover-color: theme-white-hover;
    theme-search-result-border-color: theme-separator-color;
    theme-search-result-text-color: theme-gray-25;
    theme-search-result-text-hover-color: theme-black;
    theme-search-result-assistive-text-color: theme-gray-BB;
    theme-search-result-assistive-text-hover-color: theme-white;

    /*************************************************************************************************
     *  Tooltip
     *************************************************************************************************/
    theme-tooltip-background-color: theme-white;
    theme-tooltip-text-color: theme-black;
    theme-tooltip-title-text-color: theme-gray-25;
    theme-tooltip-text-hover-color: theme-white;
    theme-tooltip-text-selected-color: theme-white;
    theme-tooltip-text-disabled-color: theme-gray-BB;
    theme-tooltip-border-color: theme-gray-97;
    theme-tooltip-shadow-color: theme-gray-97-transparent;

    theme-tool-palette-background-color: theme-white;
    theme-tool-palette-hover-color: theme-gray-F3-hover;
    theme-tool-palette-pressed-color: theme-white-pressed;
    theme-tool-palette-selected-color: theme-blue;
    theme-tool-palette-disabled-color: theme-gray-F3;
    theme-tool-palette-focused-color: theme-digital-blue;

    /*************************************************************************************************
     *  Slider, scroll
     *************************************************************************************************/
    theme-slider-thumb-background-color: theme-blue;
    theme-slider-thumb-background-hover-color: theme-digital-blue;
    theme-slider-thumb-background-pressed-color: theme-dark-blue;
    theme-slider-thumb-background-disabled-color: theme-gray-55;
    theme-slider-thumb-background-focused-color: theme-blue;
    theme-slider-background-color: theme-gray-BB;

    theme-scroll-bar-background-color: theme-gray-55;

    /*************************************************************************************************
     *  Generic progress bar
     *************************************************************************************************/
    theme-progress-bar-track-background-color: theme-transparent;
    theme-progress-bar-background-color: theme-digital-blue;
    theme-progress-bar-border-color: theme-digital-blue;
    theme-text-color: theme-digital-blue;

    /*************************************************************************************************
     *  TitledPane
     *************************************************************************************************/
    theme-beginner-pane-background-color: theme-dark-blue;
    theme-beginner-pane-border-color: theme-dark-blue;

    theme-titled-pane-arrow-background-color: theme-gray-25;
    theme-titled-pane-background-color: theme-white;
    theme-titled-pane-background-hover-color: theme-gray-BB-hover;
    theme-titled-pane-background-pressed-color: theme-gray-BB-pressed;
    theme-titled-pane-background-focused-color: theme-white;
    theme-titled-pane-border-focused-color: theme-digital-blue;
    theme-titled-pane-text-color: theme-black;

    /*************************************************************************************************
    *  Tabs
    *************************************************************************************************/
    theme-tab-header-background-color: theme-gray-F3;
    theme-tab-header-background-hover-color: theme-gray-F3-hover;
    theme-tab-header-background-pressed-color: theme-gray-F3-pressed;
    theme-tab-header-background-disabled-color: theme-gray-F3;
    theme-tab-header-background-selected-color: theme-white;

    theme-tab-header-border-color: theme-gray-BB;
    theme-tab-header-border-odd-color: theme-white;
    theme-tab-header-border-hover-color: theme-gray-97;
    theme-tab-header-border-pressed-color: theme-gray-97;
    theme-tab-header-border-disabled-color: theme-gray-BB;
    theme-tab-header-border-selected-color: theme-gray-BB;

    theme-tab-header-text-color: theme-gray-25;
    theme-tab-header-text-hover-color: theme-gray-25;
    theme-tab-header-text-pressed-color: theme-black;
    theme-tab-header-text-disabled-color: theme-gray-97;
    theme-tab-header-text-focused-underline-color: theme-border-focused-color;

    theme-tab-content-area-background-color: theme-white;

    /*************************************************************************************************
     *  Menu (The menu[Mission, Window, Help, Exit]), menu item
     *************************************************************************************************/
    theme-menu-item-background-color: theme-white;
    theme-menu-item-background-hover-color: theme-white-hover;
    theme-menu-item-background-selected-color: theme-white-hover;
    theme-menu-item-background-disabled-color: theme-white;
    theme-menu-item-text-color: theme-gray-25;
    theme-menu-item-text-hover-color: theme-black;
    theme-menu-item-text-selected-color: theme-black;
    theme-menu-item-text-disabled-color: theme-gray-97;
    theme-menu-item-accelerator-color: theme-gray-77;
    theme-menu-item-accelerator-hover-color: theme-gray-77;
    theme-menu-item-icon-background-color: theme-gray-BB;
    theme-menu-tick-icon-background-color: theme-gray-25;

    /*************************************************************************************************
     *  Alerts, hints, warnings
     *************************************************************************************************/
    theme-alert-background-color: theme-gray-F3;
    theme-alert-label-fill-color: theme-black;

    theme-toast-info-background-color: theme-blue;
    theme-toast-alert-background-color: theme-red-B7;
    theme-toast-text-color: theme-gray-F3;
    theme-toast-text-hover-color: theme-white;

    theme-warnings-popup-glasspane-background-color: theme-black;
    theme-warnings-text-color: theme-red-B7;
    theme-warnings-background-color: theme-gray-BB;

    theme-demomission-warning-background-color: theme-red-B7;

    /*************************************************************************************************
     *  Tables (Vertex table and log table)
     *************************************************************************************************/
    theme-table-background-color: theme-white;
    theme-table-header-background-color: theme-white;
    theme-table-header-border-color: theme-gray-55;
    theme-table-header-text-color: theme-gray-25;
    theme-table-cell-text-color: theme-gray-55;
    theme-table-cell-text-selected-color: theme-white;
    theme-table-cell-border-color: theme-gray-F3;
    theme-table-cell-background-color: theme-white;
    theme-table-cell-background-hover-color: theme-white-hover;
    theme-table-cell-background-selected-color: theme-blue;

    /*************************************************************************************************
     *  Navbar
     *************************************************************************************************/
    theme-navbar-background-color: theme-gray-25;
    theme-navbar-button-background-color: theme-transparent;
    theme-navbar-button-background-hover-color: theme-gray-77;
    theme-navbar-button-background-pressed-color: theme-gray-55;
    theme-navbar-button-background-selected-color: theme-blue;
    theme-navbar-button-background-focused-color: theme-blue;
    theme-navbar-button-text-color: theme-white;
    theme-navbar-button-text-disabled-color: theme-gray-77;
    theme-unfocused-navbar-button-background-color: theme-gray-55;
    theme-navbar-section-background-color: theme-white;

    /*************************************************************************************************
     *  Navbar dialogs (settings, connection, etc.)
     *************************************************************************************************/
    theme-navbar-dialog-menu-background-color: theme-blue;
    theme-navbar-dialog-menu-background-hover-color: theme-digital-blue;
    theme-navbar-dialog-menu-background-pressed-color: theme-dark-blue;
    theme-navbar-dialog-menu-background-selected-color: theme-white;
    theme-navbar-dialog-menu-text-color: theme-white;
    theme-navbar-dialog-menu-text-hover-color: theme-white;
    theme-navbar-dialog-menu-text-pressed-color: theme-white;
    theme-navbar-dialog-menu-text-selected-color: theme-gray-25;
    theme-navbar-dialog-menu-text-disabled-color: theme-gray-BB;
    theme-navbar-dialog-caption-text-color: theme-gray-25;

    /*************************************************************************************************
     *  Sidepane (mission bar, flight plan bar)
     *************************************************************************************************/
    theme-sidepane-header-primary-color: theme-gray-25;
    theme-sidepane-header-primary-text-color: theme-white;
    theme-sidepane-header-secondary-color: theme-gray-BB;
    theme-sidepane-header-secondary-text-color: theme-gray-25;
    theme-sidepane-header-tertiary-color: theme-gray-F3;
    theme-sidepane-header-tertiary-text-color: theme-gray-25;
    theme-sidepane-header-hover-color: #FFFFFF19;
    theme-sidepane-header-pressed-color: #00000032;
    theme-sidepane-header-focused-color: theme-digital-blue;

    theme-mission-header-recent-mission-background-color: theme-white;
    theme-mission-header-mission-selected-background-color: theme-gray-25;
    theme-flight-plan-header-background-color: theme-gray-BB;
    theme-based-on-template-header-background-color: theme-gray-F3;

    theme-mission-header-button-background-color: theme-gray-25;
    theme-mission-header-button-background-hover-color: theme-gray-25-hover;
    theme-mission-header-button-background-pressed-color: theme-gray-25-pressed;
    theme-mission-header-button-text-selected-color: theme-white;
    theme-mission-header-button-border-focused-color: theme-digital-blue;

    theme-mission-alert-text-color: theme-white;
    theme-mission-tree-view-border-color: transparent;
    theme-mission-tree-view-background-color: theme-white;

    theme-uavstatus-tile-border-success-color: theme-green;
    theme-uavstatus-tile-border-warning-color: theme-orange-FF;
    theme-uavstatus-tile-text-warning-color: theme-orange-FF;
    theme-uavstatus-tile-border-error-color: theme-red-B7;
    theme-uavstatus-tile-text-error-color: theme-red-B7;

    theme-first-aoi-text-color: theme-menu-item-text-color;
    theme-first-aoi-hover-text-color: theme-menu-item-text-hover-color;
    theme-first-aoi-background-hover-color: theme-menu-item-background-hover-color;

    /*************************************************************************************************
     *  Background tasks, Sound, Alerts manager (temp colors)
     *************************************************************************************************/
    theme-baloon-background-color: theme-gray-25;
    theme-baloon-separator-border-color: theme-white;
    theme-baloon-text-color: theme-white;

    theme-task-progress-bar-bar-color: theme-green;
    theme-task-progress-bar-track-color: theme-green;

    theme-sidebar-button-selected-background-color: theme-blue;
    theme-sidebar-border-color: theme-gray-55;

    theme-flightplan-template-background-color: theme-orange-F3;


    /*************************************************************************************************
     *  Splash screen
     *************************************************************************************************/
    theme-splash-screen-progress-bar-track-background-color: theme-transparent;
    theme-splash-screen-progress-bar-background-color: theme-white;
    theme-splash-screen-progress-bar-border-color: theme-transparent-hover;
    theme-splash-screen-text-color: theme-transparent-hover;

    /*************************************************************************************************
    *  About dialog
    *************************************************************************************************/
    theme-about-dialog-header-background-color: theme-blue;
    theme-about-dialog-header-text-color: theme-white;

    /*************************************************************************************************
    *  Generic dialog
    *************************************************************************************************/
    theme-dialog-background-color: theme-gray-F3;

    /*************************************************************************************************
     *  Altitude widget
     *************************************************************************************************/
    theme-altitude-widget-plane-chart-color: theme-orange-FF;
    theme-altitude-widget-predicted-altitude-down-color: theme-red-B7;
    theme-altitude-widget-predicted-altitude-up-color: theme-green;
    theme-altitude-widget-text-color: theme-gray-25;

    /*************************************************************************************************
     *  RTK
     *************************************************************************************************/
    theme-rtk-tooltip-text-color: theme-gray-25;
    theme-rtk-tooltip-background-color: theme-white;
    theme-rtk-tooltip-border-color: theme-gray-55;
}