.plane-altitude.chart-annotation-text {
    -fx-font-size: 0.8em;
    -fx-text-alignment: center;
    -fx-border-color: theme-altitude-widget-plane-chart-color;
    -fx-border-width: 0.17em;
    -fx-border-radius: 0.17em;
    -fx-padding: 0.4em;
    -fx-text-fill: theme-altitude-widget-plane-chart-color;
}

.predicted-altitude-up.chart-annotation-text {
    -fx-font-size: 0.8em;
    -fx-text-fill: theme-altitude-widget-predicted-altitude-up-color;
}

.recommended-altitude.chart-annotation-text {
    -fx-font-size: 0.8em;
    -fx-padding: 0.4em;
    -fx-text-fill: theme-altitude-widget-text-color;

}

.predicted-altitude-down.chart-annotation-text {
    -fx-font-size: 0.8em;
    -fx-text-fill: theme-altitude-widget-predicted-altitude-down-color;
}

.chart-vertical-zero-line {
    -fx-stroke: transparent;
}

.default-color0.chart-series-line { -fx-stroke: theme-altitude-widget-plane-chart-color; }
.default-color1.chart-series-line { -fx-stroke: theme-altitude-widget-plane-chart-color; -fx-stroke-dash-array: 5, 5; }
