/**Use for buttons **/

.iconized {
    -fx-background-size: 1.33em;
    -fx-background-position: 0.3em center;
    -fx-background-repeat: no-repeat;
    -fx-min-height: 2em;
    -fx-max-height: 2em;
    -fx-label-padding: 0 0.5em 0 1.8em;
    -fx-alignment: center-left;
    -fx-min-width: 1.8em;
}



.icon-altitude {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_altitude.svg');
}

.icon-auto-recompute {
    -fx-background-image:url('/com/intel/missioncontrol/icons/icon_auto-recompute.svg');
}

.icon-auto-takeoff {
    -fx-background-image:url('/com/intel/missioncontrol/icons/icon_auto-takeoff.svg');
}

.icon-bg-tasks {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_backgroundtasks.svg');
}

.icon-bulb {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_plan_tool-suggestion.svg');
}

.icon-calendar {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_calendar.svg');
}

.icon-camera {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_camera.svg');
}

.icon-camera-pitch {
    -fx-background-image:url('/com/intel/missioncontrol/icons/icon_camera-pitch.svg');
}

.icon-camera-yaw {
    -fx-background-image:url('/com/intel/missioncontrol/icons/icon_camera-yaw.svg');
}

.icon-ceiling {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_ceiling.svg');
}

.icon-close {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_close(fill=theme-button-text-color).svg');
}

.icon-close-inverse {
    -fx-background-image: url('/com/intel/missioncontrol/icons/icon_close(fill=theme-white).svg');
}

.icon-complete {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_complete(fill=theme-green).svg');
}

.icon-crosshair {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_button-set-start-position(fill=theme-secondary-button-text-color).svg');
}

.icon-crosshair:disabled {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_button-set-start-position(fill=theme-secondary-button-text-disabled-color).svg');
}

.icon-crosshair:selected {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_button-set-start-position(fill=theme-primary-button-text-pressed-color).svg');
}

.icon-distance {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_distance.svg');
}

.icon-elevation {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_elevation.svg');
}

.icon-filter {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_filter.svg');
}

.icon-floor {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_floor.svg');
}

.icon-folder {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_folder(fill=theme-secondary-button-text-color).svg');
}

.icon-folder-flat {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_folder(fill=theme-primary-button-text-color).svg');
}

.icon-folder:disabled {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_folder(fill=theme-secondary-button-text-disabled-color).svg');
}

.icon-folder:hover {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_folder(fill=theme-secondary-button-text-color).svg');
}

.icon-folder:pressed {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_folder(fill=theme-secondary-button-text-pressed-color).svg');
}

.icon-frontlap {
    -fx-background-image:url('/com/intel/missioncontrol/icons/icon_frontlap.svg');
}

.icon-gamepad {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_gamepad.svg');
}

.icon-gpslost {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_gps-lost.svg');
}

.icon-height {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_height.svg');
}

.icon-help {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_help.svg');
}

.icon-idl {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_idl.svg');
}

.icon-intersect {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_intersect.svg');
}

.icon-jumpattern-switch {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_jumpattern-switch.svg');
}

.icon-jumpattern-switch:selected {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_jumpattern-switch(fill=theme-primary-button-text-pressed-color).svg');
}

.icon-jumppattern-skip {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_jumppattern-skip.svg');
}

.icon-jumppattern-skip:selected {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_jumppattern-skip(fill=theme-primary-button-text-pressed-color).svg');
}

.icon-layers {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_menu-layers.svg');
}

.icon-latitude {
    -fx-background-image:url('/com/intel/missioncontrol/icons/icon_latitude.svg');
}

.icon-lens {
    -fx-background-image:url('/com/intel/missioncontrol/icons/icon_lens.svg');
}

.icon-linklost {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_link-lost.svg');
}

.icon-longitude {
    -fx-background-image:url('/com/intel/missioncontrol/icons/icon_longitude.svg');
}

.icon-pencil {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_edit(fill=theme-button-text-color).svg');
}

.icon-pencil-white {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_edit(fill=theme-primary-button-text-color).svg');
}

.icon-plan {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_plan.svg');
}

.icon-plus {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_new.svg');
}

.icon-progress {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_progress.svg');
}

.icon-refpoint {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_reference-point(fill=theme-button-text-color).svg');
}

.icon-rename-white {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_rename(fill=theme-primary-button-text-color).svg');
}

.icon-resolution {
    -fx-background-image:url('/com/intel/missioncontrol/icons/icon_resolution.svg');
}

.icon-robot {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_robot.svg');
}

.icon-rotation-left {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_rotate_ccw.svg');
}

.icon-rotation-left:selected {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_rotate_ccw(fill=theme-primary-button-text-pressed-color).svg');
}

.icon-rotation-right {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_rotate_cw.svg');
}

.icon-rotation-right:selected {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_rotate_cw(fill=theme-primary-button-text-pressed-color).svg');
}

.icon-rtk {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_rtk.svg');
}

.icon-ruler {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_toolbar-ruler.svg');
}

.icon-safety-waypoint {
    -fx-background-image:url('/com/intel/missioncontrol/icons/icon_safety-waypoint.svg');
}

.icon-scanpattern-leftright {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_scanpattern-leftright.svg');
}

.icon-scanpattern-leftright:selected {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_scanpattern-leftright(fill=theme-primary-button-text-pressed-color).svg');
}

.icon-scanpattern-side {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_scanpattern-side.svg');
}

.icon-scanpattern-side:selected {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_scanpattern-side(fill=theme-primary-button-text-pressed-color).svg');
}

.icon-scanpattern-updown {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_scanpattern-updown.svg');
}

.icon-scanpattern-updown:selected {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_scanpattern-updown(fill=theme-primary-button-text-pressed-color).svg');
}

.icon-select {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_select(fill=theme-button-text-color).svg');
}

.icon-settings {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_tool_settings(fill=theme-secondary-button-text-color).svg');
}

.icon-settings-flat {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_tool_settings.svg');
}

.icon-settings:disabled {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_tool_settings(fill=theme-secondary-button-text-disabled-color).svg');
}

.icon-settings:selected {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_tool_settings(fill=theme-secondary-button-text-pressed-color).svg');
}

.icon-show-on-map {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_show-on-map(fill=theme-button-text-color).svg');
}

.icon-sidelap {
    -fx-background-image:url('/com/intel/missioncontrol/icons/icon_sidelap.svg');
}

.icon-speed {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_speed.svg');
}

.icon-spread {
    -fx-background-image:url('/com/intel/missioncontrol/icons/icon_spread.svg');
 }

.icon-stop {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_stop.svg');
}

.icon-trash {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_remove(fill=theme-button-text-color).svg');
}

.icon-trash:hover {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_remove(fill=theme-white).svg');
}

.icon-trash:pressed {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_remove(fill=theme-white).svg');
}

.icon-uav {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_uav.svg');
}

.icon-wall-left {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_wall-left.svg');
}

.icon-wall-left:selected {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_wall-left(fill=theme-primary-button-text-pressed-color).svg');
}

.icon-wall-right {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_wall-right.svg');
}

.icon-wall-right:selected {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_wall-right(fill=theme-primary-button-text-pressed-color).svg');
}

.icon-warning-blocker {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_warning(fill=theme-white).svg');
}

.icon-warning-minor {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_warning-notice(fill=theme-blue).svg');
}

.icon-warning {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_warning(fill=theme-red-FF).svg');
}

.icon-warning-regular {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_warning(fill=theme-warning-color).svg');
}

.table-row-cell:selected .icon-bulb {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_plan_tool-suggestion(fill=theme-table-cell-text-selected-color).svg');
}

.table-row-cell:selected .icon-refpoint {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_reference-point(fill=theme-table-cell-text-selected-color).svg');
}

.table-row-cell:selected .icon-trash {
  -fx-background-image:url('/com/intel/missioncontrol/icons/icon_remove(fill=theme-table-cell-text-selected-color).svg');
}