.header {
    -fx-background-color: theme-section-header-background-color;
}
.caption {
     -fx-padding: 0.5em 1em 0.5em 1em;
     -fx-font-weight: bold;
 }

.header-label {
    -fx-text-fill: theme-label-inverse-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}

.text-paragraph {
    -fx-padding: 1em 1.5em 1em 1em;
    -fx-wrap-text: true;
}

.simple-bordered {
    -fx-border-style: solid;
}

.downloadSamplePanel {
    -fx-background-color: theme-beginner-pane-background-color;
    -fx-border-color: theme-beginner-pane-border-color;
    -fx-border-width: 0.083em;
    -fx-padding: 0 0 0.5em 1em;
    -fx-alignment: center-left;
}

#layoutRoot {
    -fx-background-color: transparent;
}

#popupContainer {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 5);
    -fx-background-color: theme-background-color;
}

#popupDisabledContainer {
    -fx-padding: 1em;
}