#layoutRoot {
    -fx-background-color: transparent;
    -fx-max-height: 2em;
    -fx-max-width: 28em;
}

#activityIndicator {
    -fx-background-size: 1.33em;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-min-width: 2em;
    -fx-min-height: 2em;
    -fx-max-width: 2em;
    -fx-max-height: 2em;
    -fx-background-image: url('/com/intel/missioncontrol/icons/icon_progress.svg')
}

#resultItemsView {
    -fx-background-color: theme-search-result-background-color;
    -fx-border-color: theme-search-result-border-color;
    -fx-border-width: 0 1 1 1;
}

#clearButton {
    -fx-background-image: url('/com/intel/missioncontrol/icons/icon_close(fill=theme-button-text-color).svg');
    -fx-background-size: 2em;
}

#searchButton {
    -fx-background-image: url('/com/intel/missioncontrol/icons/icon_search(fill=theme-button-text-color).svg');
    -fx-background-size: 1em;
}

.search-icon-button {
    -fx-background-position: center;
    -fx-background-color: theme-textfield-background-color;
    -fx-background-repeat: no-repeat;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-pref-width: 1.6em;
    -fx-pref-height: 1.6em;
    -fx-max-width: 1.6em;
    -fx-max-height: 1.6em;
}

.search-icon-button:hover {
    -fx-background-color:theme-button-background-hover-color;
}

.search-icon-button:pressed {
    -fx-background-color:theme-button-background-pressed-color;
}

.search-result-button {
    -fx-min-height: 2.2em;
    -fx-max-height: 2.2em;
    -fx-max-width: Infinity;
    -fx-background-color: transparent;
    -fx-border-color: theme-search-result-border-color;
    -fx-border-width: 1 0 0 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0.5em;
    -fx-alignment: center-left;
}

.search-result-button:selected {
    -fx-background-color: theme-search-result-background-hover-color;
    -fx-text-fill: theme-search-result-text-hover-color;
}

.search-result-button .label {
    -fx-text-fill: theme-search-result-text-color;
}

.search-result-button:selected .label {
    -fx-text-fill: theme-search-result-text-hover-color;
}

.search-result-button .assistive-label {
    -fx-text-fill: theme-search-result-assistive-text-color;
}

.search-result-button:selected .assistive-label {
    -fx-text-fill: theme-search-result-assistive-text-hover-color;
}