[submodule "toolchain/openjdk-11.0.2-mirror"]
	path = toolchain/openjdk-11.0.2-mirror
	url = https://git.drones.intel.com/scm/imc/openjdk-11.0.2-mirror.git
[submodule "toolchain/javafx-sdk-11.0.2-mirror"]
	path = toolchain/javafx-sdk-11.0.2-mirror
	url = https://git.drones.intel.com/scm/imc/javafx-sdk-11.0.2-mirror.git
[submodule "toolchain/javafx-sdk-12-mirror"]
	path = toolchain/javafx-sdk-12-mirror
	url = https://git.drones.intel.com/scm/imc/javafx-sdk-12-mirror.git
[submodule "toolchain/javafx-sdk-13.0.2-mirror"]
	path = toolchain/javafx-sdk-13.0.2-mirror
	url = https://git.drones.intel.com/scm/imc/javafx-sdk-13.0.2-mirror.git
