#AboutDialog {
    -fx-pref-width:45em;
    -fx-pref-height:40em;
    -fx-background-color: theme-background-color;
}

.intel-logo {
    -fx-background-size: 6em;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-pref-width: 6em;
    -fx-pref-height: 6em;
    -fx-max-width: 6em;
    -fx-max-height: 6em;
    -fx-background-image: url('/com/intel/missioncontrol/gfx/intelLogo(fill=theme-white).svg');
}


.about-header {
    -fx-background-color: theme-about-dialog-header-background-color;
    -fx-padding: 1em 1em 0.5em 1em;

}

.about-header * {
    -fx-text-fill: theme-about-dialog-header-text-color;

}
.about-header .tooltip {
    -fx-background-color: theme-about-dialog-header-text-color;
    -fx-text-fill: theme-about-dialog-header-tooltip-color;
    -fx-padding: 0.5em;
}

.about-header .app-title {
    -fx-font-size: 2.2em;
    -fx-padding: 1em;
}

.about-header #currentBuild {
    -fx-font-size: 0.75em;
}
