.list-view {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.task-list-cell {
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.task-list-cell-empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.task-cancel-button {
    -fx-base: transparent;
    -fx-text-fill: theme-hyperlink-text-color;
    -fx-underline: true;
    -fx-font-size: 1em;
    -fx-padding: 0 0 0.083em 0;
}

.task-cancel-button:hover {
    -fx-text-fill: theme-hyperlink-text-hover-color;
}

.task-cancel-button:pressed {
    -fx-text-fill: theme-hyperlink-text-pressed-color;
}

.text-flow {
    -fx-padding:0 0 0 1;
}

.task-message {
    -fx-max-width: 20em !important;
    -fx-text-overrun: center-ellipsis !important;
}
