.demo-mission-warning {
    -fx-background-color: theme-warning-color;
    -fx-padding: 0 0.5em 0 1.8em;
}

.demo-mission-warning .label {
    -fx-text-fill: theme-white;
}

.demo-mission-warning #renameLink {
    -fx-underline: true;
    -fx-font-weight: bold;
    -fx-padding: 0 0.2em 0 0;
}

.demo-mission-warning #renameLink:hover {
    -fx-cursor: hand;
}