/*************************************************************************************************
 *  Tools content
 *************************************************************************************************/
.tools-toggle-label {
    -fx-text-fill: theme-caption-label-text-color;
    -fx-font-weight: normal;
    -fx-font-size: 1em;
    -fx-alignment: center-left;
}

.spinner > .text-field {
	-fx-alignment: CENTER_RIGHT;
}


#parameterNameColumn {
    -fx-padding: 0 0 0 1em;
}

#parameterValueColumn {
    -fx-alignment: CENTER-RIGHT;
    -fx-border-insets: 0 1em 0 0;
}

.tools-gridpane {
    -fx-alignment: center-left;
    -fx-vgap: 0.5em;
    -fx-hgap: 0.5em;
}

.tools-toggle-switch {
    -fx-alignment: center-left;
    -fx-min-width: 3em;
    -fx-max-width: 3em;
    -fx-min-height: 1.5em;
    -fx-max-height: 1.5em;
}

#contentPane {
    -fx-background-color: theme-background-color;
}

#contentPaneButtonsContainer {
    -fx-pref-height: 3em;
    -fx-max-height: 3em;
}