#armButton {
    -fx-base: rgba(255, 78, 50, 0.8);
}

.titled-pane > .title 
{
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
    -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.label-two-line {
    -fx-content-display: TOP;
}

.label-two-line .label {
    -fx-text-fill:  rgba(36,36,36, 0.8);
    -fx-font-size: 60%;
}

/* .titled-pane  .label { */
.tiled-pane-annotation {
    -fx-text-fill: rgba(36,36,36, 0.8);
    -fx-padding: 0 0 0 1em;
    -fx-font-size: 80%;
}