.button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-pref-width: 4em;
}

.button:hover {
    -fx-background-color: #ffffff30;
}

.button:armed {
    -fx-background-color: #ffffff40;
}

#closeButton:hover {
    -fx-background-color: red;
}

#closeButton:armed {
    -fx-background-color: #ff000040;
}