/*************************************************************************************************
 *  Sidepane
 *************************************************************************************************/
#fancyTabPane {
    -fx-background-color: theme-background-color;
    -fx-pref-width: 27em;
    -fx-min-width: 27em;
    -fx-max-width: 27em;
}

#sidepane .primary {
    -fx-background-color: theme-sidepane-header-primary-color;
}

#sidepane .primary > .label {
    -fx-text-fill: theme-sidepane-header-primary-text-color;

}

#sidepane .primary .button {
    -fx-min-width: 3.2em;
    -fx-min-height: 3.2em;
    -fx-max-width: 3.2em;
    -fx-max-height: 3.2em;
}

#sidepane .secondary {
    -fx-background-color: theme-sidepane-header-secondary-color;

}

#sidepane .secondary > .label {
    -fx-text-fill: theme-sidepane-header-secondary-text-color;
}

/*************************************************************************************************
 *  Status bar and action bar
 *************************************************************************************************/
.statusbar-container {
    -fx-background-color: theme-statusbar-background-color;
}

.statusbar-container *,
.actionbar-container * {
    -fx-min-height: 2.7em;
    -fx-max-height: 2.7em;
}

.actionbar-container {
    -fx-min-width: 27em;
    -fx-max-width: 27em;
}

.actionbar-container #backgroundTasksButton {
    -fx-min-width:3em;
    -fx-max-width:3em;
}

.statusbar-container .flat-button:hover {
    -fx-background-color: theme-statusbar-background-hover-color;
}

.statusbar-container .flat-button:selected {
    -fx-background-color: theme-statusbar-background-pressed-color;
}

.statusbar-container .flat-button:pressed {
    -fx-background-color: theme-statusbar-background-pressed-color;
}

#backgroundTasksButton.icon-progress:hover,
#backgroundTasksButton.icon-progress:selected,
#backgroundTasksButton.icon-progress:pressed {
    -fx-background-color: transparent !important;
}

#warningsButton {
    -fx-background-position: 0.6em center;
    -fx-label-padding: 0 0 0 2em;
    -fx-background-size: 1.67em;
}

.icon-warning-regular {
    -fx-text-fill: theme-warning-color;
}

.icon-warning-blocker {
    -fx-background-color: theme-warning-color !important;
    -fx-text-fill: theme-white !important;
}


#colorLegendContainer {
    -fx-background-color: theme-white-transparent;
    -fx-border-color: theme-separator-color;
    -fx-font-weight:normal;
}


/*************************************************************************************************
 *  Sidepane
 *************************************************************************************************/
#sidepane {
    -fx-effect: dropshadow( gaussian, theme-pane-shadow-color, 3, 0, -1, 0 );
}